table {
	border-color: white;
	text-align: center;
	vertical-align: center;
	font-weight: bold;
}
td {
	padding: 20px;
}
button {
	background-color: black;
	color: white;
	font-size: 80%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div {
	text-align: center;
	font-size: 150%;
}
h3 {
	text-align: center;
}
p {
	text-align: center;
}